<div class="container-fluid mt-2">
	<div class="container ">
		<div class="card shadow w-100">
			<div class="card bg-danger">
				<h4 class="text-white p-3 pt-2 pb-2">To Do Angular App</h4>
				<i class="bi bi-angular"></i>
			</div>
			<div class="shadow">
				<div class="input-group p-4">
					<input [(ngModel)]="itemadd"
						type="text"
						name="name"
						placeholder="Digite"
						class="form-control">
					<button (click)="addItem(itemadd)"
						class="btn btn-outline-success">
						Adicionar
					</button>
				</div>
			</div>

			<div class="card-body  bg-white ">
				<div *ngFor="let item of todolist"
					class="p-2 m-3 shadow "
					id="tasks">
					<div class="d-flex bd-highlight mb-1">
						<div class="me-auto p-2 bd-highlight">{{ item }}</div>
						<div class="p-2 bd-highlight">
							<button class="btn btn-outline-primary "
								(click)="itemAntigo=item;itemNovo=item"
								type="button"
								data-bs-toggle="modal"
								data-bs-target="#myModal">
								Editar
							</button>
						</div>
						<div class="p-2 bd-highlight">
							<button (click)="remover(item)"
								class="btn btn-outline-danger">
								Fechar
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>





	<!-- The Modal -->
	<div class="modal fade"
		id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">



				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edição de elemento</h4>
					<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"></button>
				</div>



				<!-- Modal body -->
				<div class="modal-body">
					<input type="text"
						name="name"
						placeholder="Digite"
						[(ngModel)]="itemNovo"
						class="form-control">
				</div>



				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button"
						(click)="editar()"
						class="btn btn-primary"
						data-bs-dismiss="modal">
						Editar
					</button>
					<button type="button"
						class="btn btn-danger"
						data-bs-dismiss="modal">
						Close
					</button>
				</div>

			</div>
		</div>

	</div>

</div>
